<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484549045450-ol539ccnc5ialpbluej4kccstj9kfuce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484549045450-ol539ccnc5ialpbluej4kccstj9kfuce</string>
	<key>API_KEY</key>
	<string>AIzaSyDm8y81wTHTAgStwWKukgNPanhubq0lBOU</string>
	<key>GCM_SENDER_ID</key>
	<string>484549045450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sudayn.livedemotest.Live-Streaming-Ap</string>
	<key>PROJECT_ID</key>
	<string>new-project-1557054001172</string>
	<key>STORAGE_BUCKET</key>
	<string>new-project-1557054001172.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:484549045450:ios:47dbcbbb409295cd0a5833</string>
	<key>DATABASE_URL</key>
	<string>https://new-project-1557054001172.firebaseio.com</string>
</dict>
</plist>
